body {
	background-color: #18222f !important ;
	display:  flex !important ;
	justify-content: center !important ;
	align-items: center !important ;
  }
  .wrapper {
	position: absolute !important ;
	width: 400px !important ;
	height: 400px !important ;
	margin: auto !important ;
	top: 0 !important ;
	left: 0 !important ;
	bottom: 0 !important ;
	right: 0 !important ;
	display: flex !important ;
	background-color: #18222f !important ;
	justify-content: center !important ;
	align-items: center !important ;
  }
  .container {
	
	font: 1px !important ;
	padding: 0 20px !important ;
  }
  