.btn-Scraping{
  letter-spacing: 1px !important;
}


@font-face{
    font-family: 'Varela Round'; src:url(/static/assets/fonts/VarelaRound-Regular.ttf);
}

body{
    font-family: 'Varela Round', sans-serif !important;

}
