{% extends "layout.html"%}

{% block content%}

<!-- Navbar Light -->
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav
          class="navbar navbar-expand-lg blur border-radius-xl position-absolute my-3 top-0 border-bottom py-3 z-index-3 shadow my-3 py-2 start-0 end-0 mx-4">
          <div class="container">
            <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit-pro/index" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
              BMS SCRIPER
            </a>
            
            <a href="register" class="btn btn-sm  bg-gradient-primary  btn-round mb-0 ms-auto d-lg-none d-block">Sign In</a>
            
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
              <ul class="navbar-nav navbar-nav-hover mx-auto">
                <li class="nav-item mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                    Home
                  </a>
                </li>
  
                <li class="nav-item mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                    Account
                  </a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button">
                    Blocks
                  </a>
                </li>
  
                <li class="nav-item mx-2">
                  <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center">
                    Docs
                  </a>
                </li>
              </ul>
  
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                  
                  <a href="register" class="btn btn-sm  bg-gradient-primary  mb-0 me-1" role="button">Sign Up</a>
                  
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
<!-- -------- START HEADER 1 w/ text and image on right ------- -->
<header>
  <div class="page-header min-vh-100" style="background-image: url(/static/assets/img/homeimg.jpg);" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
          <h1 class="text-white mb-4">Material Kit</h1>
          <p class="text-white opacity-8 lead pe-5 me-5">The time is now for it be okay to be great. People in this world shun people for being nice. </p>
          <div class="buttons">
            <button type="button" class="btn btn-white mt-4"><a href="register">Get Started</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- -------- END HEADER 1 w/ text and image on right ------- -->


<section class="pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="text-gradient text-primary text-center">Compare Features</h2>
        <p class="lead mb-5">Join the world&#39;s largest developer community</p>
      </div>
      <form role="form text-start" method="post" action="{{url_for('scrape')}}">
        {{form.hidden_tag()}}
        <div class="input-group input-group-outline mb-3">
          <!-- {{form.product_name.label(class='form-label')}} -->
          <label class="form-label">Product Name</label>
          {% if form.product_name.errors%} 
          {{ form.product_name(class='form-control form-control-lg is-invalid')}} 
          <div class="invalid-feedback">
          {% for error in form.product_name.errors %} 
              <span>{{error}}</span>
          {% endfor %} 

          </div>
          {% else %} 
          {{ form.product_name(class='form-control form-control-lg')}} 
          {% endif %}
          <!-- <label class="form-label">First Name</label>
          <input type="text" class="form-control"> -->
      </div>
      {{form.submit(class='btn bg-gradient-primary mt-3 btn-Scraping')}}
    <!-- <button  class="btn bg-gradient-primary mt-3 btn-Scraping" name="btn-Scraping">Start Scraping Data</button> -->
  </form>
      <div class="col-lg-10">

        <div class="table-responsive">
          
          <table class="table table-pricing">
            <!-- button group -->
            <!-- <tr>
              
              <span class="border-bottom-0"></span>
              <span class="text-center align-items-center border-bottom-0">
                <form action="{{url_for('scrape')}}" method="POST">
                  <button  class="btn bg-gradient-primary mt-3 btn-Scraping" name="btn-Scraping">Start Scraping Data</button>
                </form>
              </span>
              <span class="text-center align-items-center border-bottom-0">
                <a href="javascript:;" class="btn bg-gradient-primary mt-3">Choose Plan</a>
              </span>
            </tr> -->
            <thead class="text-light text-center">
              <tr>
                <th class="ps-2">
                  <h6 class="mb-0">Web Site</h6>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder text-darker mb-0">$39</h5>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder text-darker mb-0">$79</h5>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder text-darker mb-0">$99</h5>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in price %}
              <tr>
                <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="../static/assets/img/amazonlogo.png" class="avatar avatar-sm rounded-circle me-2">
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-xs">Invision</h6>
                      </div>
                    </div>
                  </td>
                <td class="py-3">
                  <span class="text-xs">{{prix}}{{price}}</span>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
                <td class="text-center py-3">
                  <i class="fas fa-check text-success text-xs"></i>
                </td>
              </tr>
              {% endfor%}
               
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ---- START FOOTER 4 dark w/ 2 cols ---- -->
<footer class="footer py-4 my-11 bg-gradient-dark mb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-2 text-start my-auto">
        <p class="mb-0 text-white text-sm">
          Copyright © <script>document.write(new Date().getFullYear())</script> Material Design by Creative Tim.
        </p>
      </div>
      <div class="col-lg-5 col-md-8 ms-auto text-end">
        <ul class="nav flex-row ms-n3 align-items-center mt-4 mt-sm-0">
          <li class="nav-item ms-auto">
            <button type="button" class="btn bg-gradient-info mb-0 ms-3 ms-sm-0 mt-3 mt-sm-0">Get in Touch</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- ---- END FOOTER 4 dark w/ 2 cols ---- -->


{% endblock content%}


<!-- 

    <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="mb-10"> Learn <span class="text-warning"> To Code</span></h1>
                <p class="lead my-4">
                    We focus on teaching programming in an intuitive and easy to follow way. All you need is
                    dedication!
                </p>
                <a class="btn btn-danger btn-lg border"
                    href="https://www.youtube.com/channel/UCEsvQ6d7qsnOSNXtccIzScQ?sub_confirmation=1" target="_blank">
                    <i class="bi bi-youtube m-3"></i>Subscribe
                </a>

            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{{url_for('static', filename='showcase.svg')}}" alt="">
        </div>
    </div>
</section>
Social Media
<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 text-center">Join Our Community</h3>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler border" type="button" data-bs-toggle="collapse"
                    data-bs-target="#socialbtn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="socialbtn">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://github.com/omar-ghoneim"
                                target="_blank">
                                <i class="bi-github" role="img"></i>
                                GitHub
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-dark ms-5 button_width" href="https://www.facebook.com/Pythonic88"
                                target="_blank">
                                <i class="bi bi-facebook "></i>
                                Facebook
                            </a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="btn btn-dark ms-5 button_width"
                                href="https://www.instagram.com/pythonic_88" target="_blank">
                                <i class="bi bi-instagram"></i>
                                Instagram
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://twitter.com/Pythonic88"
                                target="_blank">
                                <i class="bi bi-twitter"></i>
                                Twitter
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="btn btn-dark ms-5 button_width" href="https://www.tiktok.com/@pythonic88"
                                target="_blank">
                                <i class="bi bi-tiktok"></i>
                                TikTok
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
    </div>
</section>
 -->