{% extends "layout.html"%}

{% block content%}

<!-- START Navbar -->
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav
          class="navbar navbar-expand-lg blur border-radius-xl position-absolute my-3 top-0 border-bottom py-3 z-index-3 shadow my-3 py-2 start-0 end-0 mx-4">
          <div class="container">
            <a class="navbar-brand text-darker  fz-1" href="home" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom"> <!-- target="_blank" -->
              BMS-Scraper
            </a>

            {% if session['username'] != None %}
                  <a href="logout" class="btn btn-sm  bg-gradient-primary  mb-0 me-1" role="button">Log Out</a>
              {% else %}
                  <a href="login"  class="btn btn-sm  bg-gradient-primary  mb-0 me-1" role="button">Log In</a>
            {% endif %}
            
          </div>
        </nav>
      </div>
    </div>
  </div>
<!-- END Navbar -->



<!-- -------- START HEADER ------- -->
<header>
  <div class="page-header min-vh-100" style="background-image: url(/static/assets/img/back-0.jpg);" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
          <h1 class="text-white mb-4" style="letter-spacing: 1px;">BMS-Scraper</h1>
          <p class="text-white opacity-8 lead pe-5 me-5">Getting data about products from websites is very difficult, try our scraper to make it easy.</p>
          <div class="buttons">
            <a href="#scraping" class="btn btn-white mt-4">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- -------- END HEADER ------- -->


<!-- ---- START SECTION DISPLAY DATA  ---- -->
<section class="pt-5">
  <div class="container">
    <div class="row justify-content-center rounded">
      <div class="col-12 text-center">
        <h2 class="text-gradient text-primary text-center pt-1 fs-3 text-capitalize">Start Scraping Products from jumia and amazon</h2>
        <p id="scraping" class="lead mb-5 fs-6">For good results, please enter the full title of product or add a few details about it</p>
      </div>
      <form role="form text-start" method="post" action="{{url_for('scraping')}}">
        {{form.hidden_tag()}}
        <div class="input-group input-group-outline mb-3">
          <label class="form-label">Product Name</label>

          {% if form.product_name.errors%} 
            {{ form.product_name(class='form-control form-control-lg is-invalid')}} 
            <div class="invalid-feedback">
            {% for error in form.product_name.errors %} 
                <span>{{error}}</span>
            {% endfor %} 

            </div>
            {% else %} 
            {{ form.product_name(class='form-control form-control-lg')}} 
          {% endif %}
      </div>
      {{form.submit(class='btn bg-gradient-primary mt-3 btn-Scraping')}}
  </form>
  {% if products %}
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-light text-center">
              <tr>
                <th class="text-center">
                  <h5 class="font-weight-bolder fz-3 text-darker mb-0">Image</h5>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder fz-3 text-darker mb-0">Name</h5>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder fz-3 text-darker mb-0">Jumia Price</h5>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder fz-3 text-darker mb-0">Amazon Price</h5>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder fz-3 text-darker mb-0">Scraping Date</h5>
                </th>
                <th class="text-center">
                  <h5 class="font-weight-bolder fz-3 text-darker mb-0">Delete</h5>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr class="text-center">
                <td>
                    <div class="d-flex px-2">
                      <div>
                        <img src="{{product.image}}" class="avatar rounded me-2">
                      </div>
                    </div>
                  </td>
                <td class="py-3">
                  <span class="text-xs">{{product.name}}</span>
                </td>
                <td class="text-center py-3">
                  <span class="text-xs">{{product.jumiaPrice}} <span class="text-dark">DH</span></span>
                </td>
                <td class="text-center py-3">
                  <span class="text-xs">{{product.amazonPrice}} <span class="text-dark">DH</span></span>
                </td>
                <td class="text-center py-3">
                  <span class="text-xs">{{product.scrapingDate}}</span>
                </td>
                <td class="text-center py-3">
                      <a href="/deleteProduct/{{product.id}}" class="btn btn-outline-danger mt-3">Delete</a>
                </td>
              </tr>
              {% endfor%}
               
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
<!-- ---- END SECTION DISPLAY DATA  ---- -->


<!-- ---- START FOOTER ---- -->
<footer class="footer py-4 my-11 bg-gradient-dark mb-0">
  <div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-lg-12 col-md-10 col-sm-12 text-start my-auto text-center">
        <p class="mb-0 text-white text-sm">
          Copyright © <script>document.write(new Date().getFullYear())</script> BMS-Scraper by Ben-seghir Mohammed.
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- ---- END FOOTER ---- -->


{% endblock content%}

